<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/starter-template.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@1.2.1/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>The Hague city planner</h1>

        <div id="app">
            <v-app id="inspire">
                <v-progress-linear :value="progress_likes"
                                   :indeterminate="indeterminate"
                                   height="6"
                ></v-progress-linear>
                <div v-if="progress_likes>100">
                    <div class="card" style="height: 350px">
                        <div class="card-img">
                            <img class="" style="height: 350px; width: 350px"
                                 src="https://www.hiesscheme.org.uk/installers/wp-content/uploads/2018/07/check-mark-green-tick-mark.png"

                                 alt="finish">
                        </div>
                    </div>

                </div>
                <div v-if="progress_likes<100" id="carouselExampleControls" class="carousel slide" data-ride="carousel"
                     data-interval="false">
                    <div class="carousel-inner ">
                        <div v-for="(item,index) in items"
                             :class="index===0 ? ['carousel-item','active'] :['carousel-item']">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 >{{item.text}}</h3>

                            </div>
                            <div class="card" style="height: 350px">
                                <div class="card-img">
                                    <img class="mx-auto d-block w-100"
                                         :src="item.src"
                                         alt="slide">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row justify-content-md-center">
                        <a @click="add_to_progress" class="btn col-3 btn-danger" href="#carouselExampleControls"
                           role="button" data-slide="next">
                            <span>NEXT</span>
                        </a>
                        <a @click="add_to_progress" class="btn col-3 btn-info" href="#carouselExampleControls"
                           role="button" data-slide="next">
                            <span>SUPER!</span>
                        </a>
                        <a @click="add_to_progress" class="btn col-3 btn-success" href="#carouselExampleControls"
                           role="button" data-slide="next">
                            <span>LIKE</span>
                        </a>
                    </div>

                </div>
            </v-app>
        </div>

    </div>

    <form action="/show_map" method="POST">
    </form>
{#    <button id="submit" onclick="send_venues()">finish!</button>#}

</main><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js"></script>
<script src="../static/bootstrap.js"></script>
<script src="../static/send_venues.js"></script>
<script src="https://unpkg.com/marked@0.3.6"></script>
<script src="https://unpkg.com/lodash@4.16.0"></script>
<script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@1.2.1/dist/vuetify.min.js"></script>

<script>
  var vue_map = new Vue({
    el: '#app',
    data: {
      progress_likes: 0,
      indeterminate: false,
      items: [
        {
          src: 'https://media-cdn.tripadvisor.com/media/photo-s/01/37/7c/ab/scheveningen.jpg',
          text: 'Scheveningen'
        },
        {
          src: 'https://tickets.holland.com/wp-content/uploads/2016/09/madurodam.jpg',
          text: 'Madurodam'
        },
        {
          src: 'https://www.gemeentemuseum.nl/sites/default/files/styles/full_width_768x2/public/images/Museum/Ons%20verhaal/Gebouw/Foto%27s%20gebouw/centrale%20hal%20DEF.jpg',
          text: 'Gemeentemuseum Den Haag'
        },
        {
          src: 'https://upload.wikimedia.org/wikipedia/commons/b/b6/2008-Kijkduin-Strandpromenade-1.jpg',
          text: 'Kijkduin'
        },
        {
          src: 'https://cdn.wintersport.nl/destinations/3/42749.jpg?w=1280',
          text: 'De Uithof'
        },
        {
          src: 'https://dehaagsemarkt.nl/wp-content/uploads/2016/08/Haagse-Markt-9283.jpg',
          text: 'Haagse Markt'
        },
        {
          src: 'https://www.holland.com/upload_mm/f/b/5/64127_fullimage_hofvijver_ivo_hoekstra.jpg',
          text: 'Mauritshuis'
        },
        {
          src: 'https://findapinball.com/media/foursquare/familiepark-drievliet_51f272a8498e44d4ebecb821.jpg',
          text: 'Familiepark Drievliet'
        },
        {
          src: 'http://www.kraaijvanger.nl/image/1/0/1080/0/uploads/project-afbeeldingen/3065_02_n195_medium-57c84ff9a0c71.jpg',
          text: 'Museum Voorlinden'
        },
      ]
    },
    methods: {
      add_to_progress() {
        let steps = Math.round(100 / this.items.length);
        //console.log("steps:",steps);
        this.progress_likes = this.progress_likes + steps;
      }
    }

  })

</script>


</body>
</html>
