
<!DOCTYPE html>

    <html>
    <head>
{#            {{"decoupled-map"|googlemap_js(37.4419, -122.1419, markers=[(37.4419, -122.1419)])}}#}
{#            {{"decoupled-map-2"|googlemap_js(52.1145, 4.2790, markers=[(52.1145, 4.2790), (52.0995, 4.2969)])}}#}
{#            {{mymap.js}}#}
        <link rel="stylesheet" href="{{ url_for('.static', filename='bootstrap.css') }}">
            {{sndmap.js}}
    </head>
    <body>

        <h3> Example for different icons in multiple markers with infoboxes</h3>
        <div>
            {{sndmap.html}}
        </div>


    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>

    </body>
</html>